@model User
@{
    ViewData["Title"] = "Register";
}

<div class="container w-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card w-100" style="max-width: 600px">
        <div class="card-title text-center">
            <h1>Register</h1>
        </div>
        <form asp-action="Register" asp-controller="Auth" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="full_name">Full name</label>
                    <input type="text" id="full_name" class="form-control" placeholder="Enter full name" asp-for="FullName">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter email" asp-for="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Password" asp-for="Password">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Register</button>
                <a asp-controller="Auth" asp-action="Login" class="link-opacity-100">I already have account!</a>
            </div>
        </form>
    </div>
</div>